services:
  db:
    image: postgres
    container_name: messenger_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: messenger
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis
    container_name: messenger_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data: