<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <hgroup>
        <h1 th:text="${chatDetails.name}"></h1>
    </hgroup>
    <form th:action="@{/chats/chat/{name}(name=${chatDetails.name})}"
          th:method="post"
          th:object="${messageModel}">

        <label for="text">
            <input size="" th:field="*{text}"
                   th:errorclass="is-invalid"
                   type="text"
                   id="text"
                   placeholder="Напишите что-нибудь"
                   required/>
            <small th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="text-danger"></small>
        </label>
        <button type="submit">Отправить</button>
    </form>

    <table role="grid">
        <thead>
        <tr>
            <th>Отправитель</th>
            <th>Отправлено</th>
            <th>Содержимое</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message, iterStat : ${messages}">
            <td th:text="${message.getUser().getUsername()}"></td>
            <td th:text="${#temporals.format(message.getSentAt(), 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${message.text}"></td>
        </tr>
        </tbody>
    </table>

    <p th:if="${#lists.isEmpty(messages)}" class="text-center">
        <em>Тут пока пусто, начните с "привет"</em>
    </p>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>