<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <hgroup>
        <h1>Информация о пользователе</h1>
        <p>Подробные сведения о пользователе</p>
    </hgroup>
    <article class="card">
        <div class="grid">
            <div>
                <h2 th:text="${userDetails.username}"></h2>
                <p><strong>Почта:</strong> <span th:text="${userDetails.email}"></span></p>
                <p><strong>Номер телефона:</strong> <span th:text="${userDetails.phoneNumber}"></span></p>

                <!--                <form th:method="post" th:action="@{/chats/create}" style="margin: 0;">-->
                <!--                    <button type="submit" class="contrast outline">Написать</button>-->
                <!--                </form>-->

                <a th:href="@{/chats/create/{name}(name=${userDetails.username})}"
                   role="button"
                   class="outline btn-xs">
                    Создать новый чат
                </a>
            </div>
        </div>
    </article>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>